*{
    margin: px;
    padding: px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn{
    padding: 10px 10px;
    background-color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500px;
}
.popup{
    padding: 20px;
    width: 400px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
     transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    color: #333;
     visibility: hidden;
    transition: transform 0.4s, top 0.4s; 
   
}
 .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

} 
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 700px;
    text-transform: capitalize;

}
.popup button{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    outline: none;
    background-color: rgb(101, 244, 101);
    cursor: pointer;
    box-shadow:  0px 2px 5px rgba(0, 0, 0, 0.2);
}